html{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    animation: moveIt 10s linear infinite;
  
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  }
  #listen{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* text-align: right; */
    margin-left: 610px;
    margin-top: 20px;
  }
  
  #listen:hover{
    background-color: #F39C12;
    color: white;
  }
  .include img{
    border-radius: 40%;
    border: solid #F39C12;
    margin: 60px;
   }
  .text{
    background-color: rgba(226, 226, 226, 0.664);
    width: 400px;
    border: 5px solid #F39C12;
    border-radius: 20px;
    padding: 50px;
    margin: 0px 0px 0px 105px;
    position: relative;
  left: 300px;
  font-family: 'Josefin Sans', sans-serif;
font-size: xx-large;
text-align: center;
-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
animation-name: example;
animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
from {background-color: rgba(255, 0, 0, 0.438);}
to {background-color: rgba(255, 255, 0, 0.548);}
}


  